.table_container {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.table_container h3 {
  width: 100%;
  text-align: center;
  margin-top: 0;
}

.table {
  text-align: center;
  width: 100%;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

.table tr td:first-child,
.table tr th:first-child {
  text-align: left;
}

@media screen and (max-width: 810px) {
  .table_container {
    width: 50%;
  }
}

@media screen and (max-width: 666px) {
  .table_container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }
}
