.container {
  width: 35%;
  border-radius: 0.5rem;
  background-color: #343a40;
  margin: 3rem auto;
  padding: 3rem;
  text-align: center;
  color: white;
}

.container h2,
.container h3 {
  margin: 0;
  letter-spacing: 0.5px;
}

.container h3 {
  margin-top: 1rem;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs_container input {
  padding: 0.5rem 1rem;
  font-size: medium;
}

.input_container button {
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: #fff;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input_container button:active,
.input_container button:hover {
  background-color: #ddd;
}

.input_disabled {
  display: inline;
  width: 15%;
}

.input_field {
  width: 85%;
}

.full_input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: medium;
}

.input_result_text {
  width: 40%;
}

.input_result_data {
  width: 60%;
}

.hide {
  display: none;
}

@media screen and (max-width: 1050px) {
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2rem;
  }

  .inputs_container input {
    padding: 0.25rem 0.5rem;
  }

  .container h2 {
    font-size: 1.25rem;
  }

  .input_container button {
    font-size: 0.9rem;
  }
}
