.container {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 1215px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 913px) {
  .container {
    width: 90%;
  }
}
