.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.joke_container {
  background-color: rgb(46, 46, 32);
  color: black;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.input_container {
  width: 90%;
  margin: 0 auto;
}

.input_disabled,
.input_field {
  display: inline;
  padding: 0.5rem 1rem;
}

.input_disabled {
  width: 35%;
}

.input_field {
  width: 65%;
}

.full_input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: medium;
  margin-top: 1rem;
  cursor: pointer;
}

.joke_results {
  margin-top: 1rem;
  width: 90%;
  margin: 0 auto;
}

.jokes {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.jokes li {
  border-bottom: 1px solid #fff;
}

.jokes li p {
  line-height: 1.7;
}

@media screen and (max-width: 900px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 345px) {
  .input_disabled,
  .input_field,
  .full_input {
    padding: 0.3rem 0.7rem;
    font-size: 0.7rem;
  }
}
