.container {
  width: 80%;
  text-align: center;
  margin: 3rem auto;
  margin-top: 0;
}

.title {
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.pagedesc h5 {
  margin-top: 1rem;
}

.pagedesc p {
  margin-top: 3rem;
  margin-bottom: 0;
  letter-spacing: 1.5px;
}

.sub_title {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: medium;
  margin-top: 5.5rem;
}

.verticals {
  width: 100%;
  display: grid;
  margin-top: 4.5rem;
  gap: 2.5rem;
  margin-left: 4.5rem;
  margin-bottom: 4.5rem;
}

.health,
.finance,
.well_being,
.entertainment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.health {
  grid-column: 2;
  grid-row: 1/2;
}

.finance {
  grid-column: 3;
  grid-row: 1/2;
}

.well_being {
  grid-column: 4;
  grid-row: 1/2;
}

.entertainment {
  grid-column: 5;
  grid-row: 1/2;
}

.name {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.name a {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.name a:hover,
.name a:active {
  border-bottom: 2px solid currentColor;
}

.description {
  line-height: 2;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 95%;
  }
  .verticals {
    gap: 1rem;
  }
  .description {
    line-height: 2;
    width: 70%;
    font-size: small;
  }
}

@media screen and (max-width: 900px) {
  .verticals {
    margin: 3rem auto;
    width: 65%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  .health {
    grid-column: 1;
    grid-row: 1/2;
  }

  .finance {
    grid-column: 2;
    grid-row: 1/2;
  }

  .well_being {
    grid-column: 1;
    grid-row: 2/3;
  }

  .entertainment {
    grid-column: 2;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 806px) {
  .container {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 600px) {
  .verticals {
    margin: 2rem 1.5rem;
    width: 95%;
  }
  .description {
    line-height: 2;
    width: 80%;
    font-size: small;
  }

  .health,
  .finance,
  .well_being,
  .entertainment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 80%;
  }
}

@media screen and (max-width: 403px) {
  .verticals {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    border-top: 1px solid gray;
    height: fit-content;
  }
  .health {
    grid-column: 1;
    grid-row: 1/2;
  }

  .finance {
    grid-column: 1;
    grid-row: 2/3;
  }

  .well_being {
    grid-column: 1;
    grid-row: 3/4;
  }

  .entertainment {
    grid-column: 1;
    grid-row: 4/-1;
  }
  .description {
    line-height: 2;
    width: 100%;
    font-size: small;
  }
  .description p {
    width: 100%;
  }

  .health,
  .finance,
  .well_being,
  .entertainment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px dashed gray;
  }
  .name {
    margin: 1rem 0;
  }
}
